# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import numpy as np
import pandas as pd

file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

#display(file1)
#display(file2)
#display(file3)

customer_data = pd.concat([file1, file2, file3], axis=1)
display(customer_data)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,...,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,...,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,...,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,...,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,...,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,...,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [5]:
from function import drop_null
from function import clean_gender_column
from function import drop_duplicates
customer_data1 = customer_data.copy()

#cd1=clean_gender_column(customer_data1)
cd1=drop_null(customer_data1)

cd1

cd2=drop_duplicates(cd1)
cd2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,...,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,...,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,...,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,...,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,...,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,...,Arizona,2750.705045,College,M,51789,70,0,Personal Auto,336.000000,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,KP18988,Oregon,F,High School or Below,2153133.28%,0.0,101.0,1/0/00,Personal Auto,Four-Door Car,...,California,18611.453560,Master,F,49673,232,0,Personal Auto,1021.654003,Luxury SUV
992,TI92884,Arizona,M,Bachelor,1262283.27%,61844.0,106.0,1/0/00,Personal Auto,Sports Car,...,Washington,2215.912948,College,M,0,66,0,Personal Auto,389.944994,Two-Door Car
993,JH73503,Arizona,M,Doctor,2017196.15%,24804.0,73.0,1/0/00,Personal Auto,Two-Door Car,...,California,7780.903354,High School or Below,F,0,70,0,Personal Auto,504.000000,Four-Door Car
994,YE97964,Cali,F,Bachelor,1646436.59%,27760.0,104.0,1/0/00,Personal Auto,SUV,...,Arizona,2860.864563,High School or Below,M,50332,72,0,Personal Auto,345.600000,Four-Door Car
995,VA30351,Oregon,F,High School or Below,559538.99%,74454.0,71.0,1/0/00,Personal Auto,Four-Door Car,...,California,5577.942343,Bachelor,M,70190,71,0,Corporate Auto,15.169017,Two-Door Car

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

In [6]:
file4 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

customer_data_new = pd.concat([cd2, file4], axis=1)

customer_data_new1=drop_null(customer_data_new)
display(customer_data_new1)

customer_data_new1.dtypes

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,SX51350,California,M,College,473899.20%,0.0,67.0,1/0/00,Personal Auto,Four-Door Car,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
85,YB66933,Washington,F,Bachelor,538275.20%,77552.0,68.0,1/1/00,Corporate Auto,Four-Door Car,...,0.0,2,Personal Auto,Personal L3,Offer4,Call Center,734.400000,SUV,Small,A
114,SG20925,Washington,F,Master,518579.76%,99428.0,6464.0,1/1/00,Personal Auto,Four-Door Car,...,5.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,MT23134,Oregon,M,High School or Below,532572.45%,0.0,73.0,1/0/00,Personal Auto,Two-Door Car,...,0.0,1,Special Auto,Special L2,Offer1,Agent,139.489926,Four-Door Car,Medsize,A
986,BM69081,Arizona,M,Bachelor,694752.40%,0.0,100.0,1/0/00,Personal Auto,SUV,...,0.0,1,Personal Auto,Personal L2,Offer2,Agent,460.379966,Two-Door Car,Medsize,A
989,QL77686,Nevada,F,College,472478.61%,23986.0,119.0,1/0/00,Corporate Auto,SUV,...,0.0,3,Personal Auto,Personal L3,Offer2,Web,393.600000,Four-Door Car,Medsize,A
990,ON77827,Arizona,F,Master,279022.80%,22974.0,71.0,1/0/00,Personal Auto,Four-Door Car,...,0.0,2,Personal Auto,Personal L3,Offer2,Branch,113.367765,Two-Door Car,Medsize,A
991,KP18988,Oregon,F,High School or Below,2153133.28%,0.0,101.0,1/0/00,Personal Auto,Four-Door Car,...,0.0,3,Personal Auto,Personal L1,Offer2,Agent,364.800000,Four-Door Car,Small,A

Customer                          object
ST                                object
GENDER                            object
Education                         object
Customer Lifetime Value           object
Income                           float64
Monthly Premium Auto             float64
Number of Open Complaints         object
Policy Type                       object
Vehicle Class                     object
Total Claim Amount               float64
Customer                          object
ST                                object
GENDER                            object
Education                         object
Customer Lifetime Value           object
Income                           float64
Monthly Premium Auto             float64
Number of Open Complaints         object
Total Claim Amount               float64
Policy Type                       object
Vehicle Class                     object
Customer                          object
State                             object
Customer Lifetime Value          float64
Education                         object
Gender                            object
Income                           float64
Monthly Premium Auto             float64
Number of Open Complaints        float64
Policy Type                       object
Total Claim Amount               float64
Vehicle Class                     object
Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [7]:
customer_data_new1['Effective To Date'] = pd.to_datetime(customer_data_new1['Effective To Date'], errors='coerce')
customer_data_new1.dtypes

customer_data_new1['month'] = customer_data_new1['Effective To Date'].dt.month_name()

customer_data_new1['month']

customer_data_new1.to_csv('customer_data_new1.csv',index = False, sep=";")

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [43]:
customer = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')
customer['Income']

#display(customer)

#customer2 = drop_null(customer)
#display(customer2)
#customer3 = drop_duplicates(customer2)
#display(customer3)

summary_table = customer3.pivot_table(values='Income', index='Sales Channel', aggfunc='sum').round(2)

summary_table.head()

#customer3.columns

#summary_table2 = customer3.pivot_table(values='Customer Lifetime Value', index=['Gender','Education'], aggfunc='mean')
#display(summary_table2)

summary_table3 = customer3.pivot_table(values='Number of Open Complaints', index='Policy Type')
display(summary_table3)

                Number of Open Complaints
Policy Type
Corporate Auto                   0.356992
Personal Auto                    0.397640
Special Auto                     0.334928

Empty DataFrame
Columns: [Number of Open Complaints, variable, value]
Index: []